a {
  cursor: pointer;
}

html,
body {
  font-family: "Roboto Condensed";
  height: 100%;
  margin: 0;
  padding: 10;
  width: 100%;
}

h1,
h3 {
  padding: 10;
  margin-top: 0;
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

* {
  /* border: thin solid red; */
  background-color: #d1e4ec;
}

#app {
  padding: 30px 30px;
}

.sidebar {
  padding-top: 50px;
  width: 400px;
  font-size: 20px;
}

.main-area {
  justify-content: center;
}

.plot-area {
  justify-content: center;
}

.source {
  justify-content: flex-end;
}

.axis,
.tick {
  font-size: 20px;
}

.legend-text {
  font-size: 18px;
}

.ylabel,
.xlabel {
  text-anchor: middle;
  font-size: 25px;
}

.drop-down {
  justify-content: center;
}

.menu {
  margin-right: 20px;
}

.drop-down-label {
  margin-right: 5px;
  font-size: 20px;
}

.legend-title {
  font-size: 20px;
  font-weight: bold;
}

.circle:hover {
  opacity: 1;
  stroke-width: 2;
  stroke: black;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: linen;
  border-radius: 2px;
  font-size: 14px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: linen;
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.menu {
  background-color: linen;
}
