
a {
  cursor: pointer;
}

html, body {
  font-family: 'Roboto Condensed';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h3 {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

* {
  border: thin solid red;
  background-color: #d1e4ec;
}

#app {
  padding: 50px 50px;
}

.sidebar {
  padding: 10px;
  width: 300px;
}

.plot-area {
    align-items: center;
    justify-content: center;
}

line {
  stroke-width: 2px;
}
.axis, .tick text {
  font-size: 21px;
}


.ylabel, .xlabel {
  text-anchor: middle;
  font-size: 20px;
  fill: #635F5D;
}

.nw {
  fill: #ca9a4f;
}

.west {
  fill: #88a2b1;
}

.central {
  fill: #135a90;
}

.ne {
  fill: #28aabe;
}

.se {
  fill: #10868d;
}
